@media (min-width: 1240px) {
    .container {

        max-width: 1140px;
    }

    .navbar {
        position: relative;

        &::before {
            content: '';
            width: 20%;
            height: 70px;
            background-color: #00ae9a;
            position: absolute;
            top: 0;
            left: 0;
        }


    }
}

@media (min-width: 2441px) {
    .container {

        max-width: 74.375rem;
    }

    .navbar {
        position: relative;

        &::before {
            content: '';
            width: 20%;
            height: 70px;
            background-color: #00ae9a;
            position: absolute;
            top: 0;
            left: 0;
        }

        &__wrap {

            &::after {
                left: -17.5rem;
            }
        }
    }
}

@media (max-width: 1441px) {
    .navbar__wrap {

        &::after {
            left: -32.5rem;
        }

        .header-contact {
            margin-left: auto;
        }
    }

    .request {

        &__content-items {
            &__inner {
                h2 {
                    margin-bottom: 3rem;
                }
            }

            .item:not(:last-of-type) {
                margin-bottom: 60px;
            }
        }
    }
}

@media (max-width: 1300px) {
    .help-write .face-img {
        max-width: 34.93rem;
        bottom: 3rem;
        right: -3.375rem;
    }

    .navbar__wrap {

        &::after {
            left: -25.5rem;
        }

    }
}

@media (max-width:1100px) and (min-width: 1024px) {
    header.header {
        .header {
            &-contact {
                justify-content: flex-end;

                .phone {
                    align-self: flex-end !important;
                    margin-right: 0 !important;
                    flex-basis: 100%;

                    a {
                        line-height: 20px;
                    }
                }
            }
        }

    }

    .calculator {
        padding-top: 0rem;
    }
}

@media (max-width: 1023px) {
    .navbar {
        .container {
            padding-left: 0;
        }
    }

    .navbar__wrap {
        .menu {
            display: none;
        }

        &::after {
            content: '';
            background: url(/media/images/icons/header-img-mob.svg) no-repeat center;
            left: 0;
            width: 62px;
            height: 69px;
        }

        .logo {
            margin-left: 74px;
        }
    }

    .hamb {
        display: flex;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
    }

    .hamb__field {
        padding: 10px 20px;
        cursor: pointer;
        padding-left: 12px;
    }

    .bar {
        display: block;
        width: 30px;
        height: 3px;
        margin: 6px auto;
        background-color: #fff;
        transition: 0.2s;
    }

    .popup {
        position: fixed;
        top: 75px;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 100;
        display: flex;
        transition: 0.3s;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
    }

    .popup.open {
        left: 0;

        .header-contact {
            padding: 0 15px;

            .phone {
                display: flex;
                margin-bottom: 18px;
                margin-right: 0;
                flex-basis: 100%;
                align-items: flex-start;

                &+button {
                    display: inline-flex;
                }
            }

            .btn--style-outlined {
                width: 88px;
                height: 41px;
            }
        }
    }

    .popup .menu {
        width: 95%;
        height: min-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 50px 10px;
        overflow: auto;
        background: #F5F6F7;
        border-radius: 10px;
        margin-bottom: 26px;

    }

    .popup .menu>li {
        width: 100%;
    }

    .popup .menu>li>a {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px 0;
        font-size: 20px;
        font-weight: bold;
        color: #3f3f3f;
    }

    .popup .menu>li>a:hover {
        background-color: #00AE9A;
        border-radius: 8px;
        color: #fff;
    }

    .hamb__field.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamb__field.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamb__field.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    body.noscroll {
        overflow: hidden;
    }

    .calculator__content {
        .calculator-form {
            .d-grid {
                grid-template-columns: 1fr;
            }
        }

    }

    .join-us__bg {
        display: block;
    }
}

@media (max-width: 768px) {
    header {
        &.header {
            .header-contact {
                .phone {


                    &+button {}
                }
            }
        }
    }

    .help {
        &-write {
            .face-img {
                max-width: 13.93rem;
                right: 2.625rem;
            }
        }
    }

    .calculator {
        padding: 0rem 0 6.25rem 0;
    }

    .request {
        &__inner {
            padding-top: 0;

            h2 {
                align-self: flex-start;
            }
        }

        &__content-items {
            .item {

                .icon {
                    img {
                        width: 100%;
                    }
                }
            }

        }

    }
}

@media (max-width: 712px) {
    header {
        &.header {
            .header-contact {
                .phone {
                    display: none;

                    &+button {
                        display: none;
                    }
                }
            }
        }
    }

    .help-write__content {

        .title {
            font-size: 20px;
            line-height: 27px;
        }
    }

    .last {
        &-work {
            &__table {
                table {
                    display: flex;

                    thead,
                    tbody {
                        tr {
                            display: flex;
                            flex-direction: column;

                            &:first-of-type {
                                border-bottom: 1px solid #E4E5EB;

                            }
                        }
                    }

                    thead {
                        background-color: #fff;
                        border: none;

                        th {
                            border: none;
                            color: #000;
                            height: 76px;
                        }
                    }

                    tbody {
                        tr {

                            &:nth-child(n+3) {
                                display: none;
                            }

                        }

                        td {
                            border: none;
                            height: 76px;
                            overflow-y: hidden;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:630px) {
    .calculator {

        &__content {
            display: flex;
            flex-direction: column;
            padding: 24px 25px 0 25px;

            .calculator-form {
                grid-template-columns: 1fr;

                .i-range {
                    margin-bottom: 25px;

                    .text {
                        order: 1;
                    }

                    .data-percent {
                        order: 2;
                    }

                    input {
                        order: 3;
                    }
                }

                .total {
                    .time {
                        margin-bottom: 12px;
                    }

                    .sale {
                        margin-bottom: 18px;
                    }

                    .total-box {
                        margin-bottom: 1rem;
                    }
                }
            }

            .private-policy {
                margin-bottom: 1rem;
            }

            button {
                &.btn {
                    order: 1;
                }
            }
        }
    }
}

@media (max-width: 540px) {}

@media (max-width: 425px) {
    .header {
        &-contact {
            .btn--style-outlined {
                width: 49px;
                height: 30px;
            }
        }
    }

    .help-write {
        &__content {
            padding: 1.25rem 0 2.25rem 0;
            display: flex;
            flex-direction: column;

            .title {
                order: 1;
            }

            .subtitle {
                order: 2;
            }

            .two-subtitle {
                order: 3;
            }

            .items-lists {
                order: 4;
                margin-bottom: 1.3rem;

                li {
                    flex-wrap: nowrap;
                    align-items: flex-start;
                }
            }

            button {
                &.btn {
                    order: 3;
                    margin-bottom: 45px;
                }
            }
        }

        .face-img {
            display: none;
        }
    }

    .calculator {

        &__content {
            .section-heading {
                font-size: 20px;
                line-height: 27px;
                text-align: start;
                margin-bottom: 6px;
            }

            .subtitle {
                padding-left: 0;

                b {

                    &::after {
                        top: 20px;
                        width: 112px;
                    }
                }
            }

            .calculator-form {
                .additionally {

                    summary {
                        font-size: 14px;
                    }
                }

                .total {

                    .time,
                    .sale {
                        font-size: 14px;
                        line-height: 19px;

                        img {
                            width: 30px;
                        }

                        p {
                            margin-left: 10px;
                        }
                    }

                    .total-box {
                        .text {
                            img {
                                width: 30px;
                            }

                            p {
                                font-size: 16px;
                                line-height: 22px;
                            }
                        }
                    }
                }
            }
        }

    }

    .how-work {

        &::after {
            right: -20rem;
            bottom: -8rem;
        }
    }

    .request {
        &__inner {
            h2 {
                font-size: 24px;
                line-height: 30px;
                padding-right: 0;
                margin-bottom: 59px;
            }
        }

        &__content-items {

            &:nth-child(odd) {
                .item {

                    .icon {
                        order: -1;
                    }
                }
            }

            .item {
                display: flex;
                flex-direction: column;


                .icon {
                    margin: 0 auto;
                    margin-bottom: 46px;

                    img {
                        width: 169px;
                    }
                }

                .lists {
                    h3 {
                        font-size: 1rem;
                        margin-bottom: 5px;
                    }

                    &:nth-child(even) {
                        padding-left: 0;

                        h3 {
                            padding-left: 3rem;

                            &::before {
                                left: 0;
                            }
                        }
                    }

                    &:nth-child(odd) {
                        padding-right: 0;
                    }

                    ul {
                        font-size: 14px;
                        line-height: 22px;
                    }
                }
            }
        }
    }

    .last {
        &-work {
            &__inner {
                h2 {
                    font-size: 24px;
                    line-height: 33px;
                }
            }

            &__subtitle {
                font-size: 14px;
                line-height: 19px;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                margin-bottom: 1rem;
                padding-left: 58px;
            }
        }
    }
}

@media (max-width: 375px) {
    .navbar__wrap .logo {
        margin-left: 55px;
    }

    .reviews__swiper-slide.swiper-slide {
        width: 100% !important;
        margin-right: 0 !important;
    }
}

@media(max-width: 320px) {

    .select2-container--default .select2-selection--single,
    .calculator__content .calculator-form input {
        padding: 1rem;
        min-height: 40px;
        height: auto;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 13px;
        right: 17px;
    }

    .last-work {

        &__inner {
            padding-bottom: 0;
        }

        .partner-program__btn {
            width: 82%;
        }
    }

}